<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
      <h2>
        {{location}}
      </h2>
      <h3 style="margin-top: 100px;">
        Contact us at 
        <a style="text-decoration: none;" href = "mailto:{{email}}">
          {{email}}
        </a>
      </h3>
      <h3 style="margin-bottom: 400px">
        Find us on Instagram 
        <a style="text-decoration: none;" href="https://www.instagram.com/petitgateauportland">
          @petitgateauportland
        </a>
      </h3>
    </div>
  </body>
</html>
